#page-landing {
    background-color: var(--color-primary-dark);
}

#container {
    width: 90vw;
    max-width: 700px;
}

.Logo {
    height: 8rem;
}

#img {
    width: 100%;
    margin: 5px;
}

#titulo h2 {
color: var(--color-text-in-primary);
font-family: Poppins;
font-size: 3.6rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.buttons a{
    width: 30rem;
    height: 10.4rem;

    border-radius: .8rem;

    font: 700 2.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background 0.2s;
}

.buttons a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons a.give-class {
    background-color: var(--color-secondary);
}

.buttons a.study {
    background-color: var(--color-primary-lighter);
    margin-right: 1.6rem;
}

.buttons a.study:hover{
    background-color: var(--color-primary-light);
}

.buttons a.give-class:hover{
    background-color: var(--color-secondary-dark);
}

.conections {
    color: var(--color-text-in-primary);
    text-align: center;
    margin-top: 5px;
}



@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        "proffy image image"
        "button button texting";
        column-gap: 87px;
        row-gap: 86px;
    }

    #titulo {
        grid-area: proffy;
        text-align: initial;
        align-self: center;
        
    }
    .Logo{
        height: 100%;
    }
    #img {
        grid-area: image;
    }
    .buttons {
        grid-area: button;
    }
    .conections {
        grid-area: texting;
        justify-self: end;
    }
}